
body {
  overflow-x: hidden;
  font-family: 'Helvetica Neue', sans-serif;
}


.room-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
  padding: 30px;
  background: linear-gradient(90deg, #d46626, #ffffff);
  border-radius: 10px;
  text-align: center;
}
.room-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
 
  width: 100%;
}


#category-select {
  margin-bottom: 20px;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #000;
}

#category-select:focus {
  border-color: #d69916;
  outline: none;
}

label[for="category-select"] {
  font-size: 18px;
  margin-right: 10px;
  color: #1b0f0f;
}



#room-name {
  font-size: 30px;
  font-weight: bold;
  color: #383527;
  margin-bottom: 20px;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  padding: 0;
}


.room-list li {
  width: 20rem;
  margin: 15px;
  list-style: none;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}


.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}


.available {
  background-color: #28a745;
}

.reserved {
  background-color: #dc3545;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.room-available {
  background: linear-gradient(45deg, #b1531e 40%, #ff701d 80%);
  color: #fff;
  padding: 20px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.filter-fields{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 300px;
  background: linear-gradient(90deg, #d46626, #ffffff);
  padding: 20px;
  border-radius: 30px;
 
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    margin-bottom: 30px;

}
#category-field{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#status-field{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.room-available:hover {
  #room-name {
    color: #fff;
    font-size: 35px;
  }
  #room-status-g , #capacity{
    color: #fff;
   display: none;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  flex-direction: column;
  background: linear-gradient(45deg, #df6925 40%, #b1531e 80%);
 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border: 4px solid #ffa67d;
}
.room-reserved {
  background: linear-gradient(45deg, #9b1f1f 40%, #ff3030 80%);
  color: #fff;
  padding: 20px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.room-reserved:hover {
  #room-name {
    color: #fff;
  }
  background: linear-gradient(45deg, #ff3030 40%, #9b1f1f 80%);
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(255, 58, 58, 0.3);
  border: 3px solid #ff6969;
}


.room-reserved-details {
  margin-top: 15px;
  padding: 10px;
  background-color: #f8d7da;
  border-radius: 5px;
  color: #721c24;
  font-size: 14px;
  text-align: left;
}

.room-reserved-details p {
  margin: 5px 0;
}

.room-reserved-details p strong {
  font-weight: bold;
}


@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  li {
    padding: 15px;
  }

  .room-reserved-details {
    font-size: 12px;
  }
}


.button {
  background: linear-gradient(145deg, rgb(247, 50, 50), rgb(190, 58, 54));
  color: white;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
  margin-top: 15px;
  font-weight: bold;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgb(0, 0, 0);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(236, 91, 91, 0.5);
}


#reserved {
  font-size: x-large;
  font-weight: bolder;
  color: rgb(23, 186, 226);
}

#attendees {
  font-weight: bolder;
  font-size: large;
  color: rgb(255, 255, 255);

}

#start,
#end {
  font-size: x-large;
  font-weight: bolder;
  color: #ffffff;
}


ul {
  padding: 20px;
  width: 5%;
  list-style-type: none;
  max-height: 1000px;
  overflow-y: auto;
  margin-bottom: 20px;
  height: 100%;
}

ul::-webkit-scrollbar {
  width: 50px;
}

ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

ul::-webkit-scrollbar-thumb {
  background: #df6925;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

ul::-webkit-scrollbar-thumb:hover {
  background: #ff6810;
  cursor: pointer;
}


#category{
  font-size: 22px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #dfdfdf;
}

#room-status-g{
  color: rgb(33, 211, 33);
  font-size: 20px;
  font-weight: bold;
}

#room-status-r{
  color: rgb(211, 33, 33);
  font-size: 20px;
  font-weight: bold;
}

.status-circle-g {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.status-red {
  background-color: #dc3545;
}

.status-green {
  background-color: #28a745;
}
#capacity{
  font-size: 22px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}