/* SplashScreen.css */

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: white; 
  }
  
  .logo-animation {
    animation: fadeOut 2s ease-in-out;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    animation: pulse 1.5s infinite;  /* Logo pulse animation */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  