body{ 
    margin-top: 0;
   
   
}

  
.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(90deg, #e45a0a 0%, #ffffffc5 50%, #e45a0a 100%);
  color: white;
  width: 40%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  animation: gradientShift 5s infinite linear;
}


.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 3s ease-in-out infinite;
}

.logo-image {
  height: 50px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}



@keyframes fadeOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
