/* Container for centering the form */
.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 90px; /* Adjust padding */
  width: 80%; /* Adjust width */
}

/* Reservation Form Styles */
form {
  background-color: #f4f7f8;
  margin: 0; /* No margin needed, centered by container */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', sans-serif;
  width: 70%; /* Adjust width */
}

/* Other styles remain the same */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #000000;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff; /* Ensure consistent background color */
  color: #333; /* Ensure consistent text color */
  cursor: pointer;
}

/* Add focus styles for better accessibility */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus,
select:focus {
  border-color: #000000;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button[type="submit"] {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background-color: #c75411;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
  background-color: #ff701d; /* Darker color on hover */
  transform: translateY(-2px); /* Lift effect on hover */
  cursor: pointer;
}