
.user-reserv-status{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
}

.div-reserv-status{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
    gap: 2px;
    border-radius: 8px;
}