body {
    background: linear-gradient(45deg, #EBEBD3 40%, #EE964B 80%);
    font-family: 'Helvetica Neue', sans-serif; /* Modern font */
    color: #2c3e50; /* Darker blue for better readability */
    min-height: 100vh; /* Ensure the background covers the full viewport height */
    position: relative;
    overflow:visible;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 20px 20px; /* Adjust the size of the dots */
    opacity: 0.1; /* Make the dots subtle */
    z-index: -1; /* Ensure the dots are behind the content */
}

#logo {
    margin: 0 auto; /* Center the logo */
    width: 100px; /* Set the logo width */
}

#app-name {
    font-size: 54px;
    font-weight: bold; 
    margin: 10px 0; 
    color: black;
}